<div class = "results">
<h1> You searched for <%= @commute_dest.query %> </h1>

<% @apartments.each_with_index do |apt, i| %>
  <div class="listing">
  <h4>Apartment <%= i +1 %></h4>
  <%= image_tag(apt.photo_url) %><br>
  Price:<%= apt.price %><br>
  Neighborhood: <%= apt.neighborhood %> 
</div>
<%end%>

