<div class = "results">
<h1> You searched for <%= @commute_dest.query %> </h1>
<%= @photos %>
<%= @prices %>
<%= @neighborhoods %>

<% @photos.each do |photo| %>
  <%= image_tag(photo)%>
<%end%>
</div>