<div class = "listing results text-center col-md-8 col-md-offset-2">

<h1 class='color'> You searched for <%= @commute_dest.query %>. Here are the latest listings within a <%= (@commute_dest.max_time.to_i/60).to_s %> min commute of that address with no transfers!</h1>
<h2 class='color'> These are all less than $ <%= @commute_dest.max_price %> </h2>

<% if @apartments.size > 0 %>
<% @apartments.each_with_index do |apt, i| %>
  <div class="listing item center-block text-center">
    <h4><%= apt.address %></h4>
<div class="hover">
  <%= link_to(image_tag(apt.photo_url, class: "img-rounded img-responsive"), apt.link)%><br>

  <%= link_to("View on streeteasy.com", apt.link, class: "se.com")%><br>
</div>
  <h4>Price: <%= apt.price %> |
  Neighborhood: <%= apt.neighborhood %> </h4>
</div>
<%end%>
<%end%>
<div>
