
<div class = "results text-center col-md-8 col-md-offset-2">


<h1 class='color'> You searched for <%= @commute_dest.query %>. Here are all the apartments within a <%= (@commute_dest.max_time.to_i/60).to_s %> min commute of that address with no transfers!
These are all less than $ <%= @commute_dest.max_price %></h1>

<h2 class='color'> These are all less than $ <%= @commute_dest.max_price %> </h2>


<% if @apartments.size > 0 %>
<% @apartments.each_with_index do |apt, i| %>
  <div class="listing center-block text-center ">
  <%= link_to(image_tag(apt.photo_url, class: "img-rounded img-responsive"), apt.link)%><br>
  <h4>Price: <%= apt.price %> |
  Neighborhood: <%= apt.neighborhood %> </h4>
</div>
<%end%>
<%end%>
<div>
